// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color variables
$primary-bg-color: #cbf2d2;
$accent-color: #28a745;

// common padding
$common-padding: 100px 0;